@{
    ViewData["Title"] = "Contact";
}
<style>
    .bg-fundal {
        background-color: #80A1C1;
        color: #EEE3AB;
    }

    body {
        font: 800;
    }
</style>

<body class="bg-fundal">
<h1>@ViewData["Title"]</h1>

<div>
    <p>Pentru orice întrebări sau informații suplimentare, ne puteți contacta la:</p>

    <address>
        <strong>Magazin de Papetărie</strong><br>
        Adresă: Strada 1 Decembrie, Nr. 12<br>
        Oraș Mediaș, Cod Poștal 5501<br>
        Telefon: 0123-456-789<br>
        Email: contact@magazindepapetarie.ro
    </address>
</div>
</body>
